@import '@/styles/variables.scss';

.wrapper {
  min-height: 300px; // for now - will be replaced with dynamic height
  margin: $spacing-base $spacing-base 0;
  position: relative;
  background-color: $color-base;
  border-radius: $spacing-base;
}
