@import '@/styles/variables.scss';

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: $spacing-base $spacing-base 0;
  position: relative;
  background-color: $color-base;
  border-radius: $spacing-base;
}
