@import '@/styles/variables.scss';

.wrapper {
  max-width: $breakpoint-lg;
  padding: $spacing-base;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.childrenWrapper {
  background-color: $color-base-light;
  color: $color-base-dark;
  border-radius: $spacing-base;
  margin-bottom: $spacing-small;
  border-width: 0;
}
