@import '@/styles/variables.scss';

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-black;
  gap: $spacing-small;
  margin: $spacing-small 0;
  background-color: $color-base-light;
  padding: $spacing-base;
  border-radius: $spacing-base;
}

.socialButton {
  margin-left: $spacing-small;
}

.controlsButton {
  padding: 0;
  width: $font-size-xlarge;
  height: $font-size-xlarge;
  background-color: transparent;
  border: none;
  background-image: url('/icons/settings.svg');
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: rotate(45deg);
    cursor: pointer;
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .footer {
    flex-direction: column;
    gap: $spacing-small;

    & > :nth-child(2) {
      order: -1;
    }
  }
}
