@import '@/styles/variables.scss';

.reel {
  width: $slot-size;
  height: $slot-size * 3;
  overflow: hidden;
  flex: 1;
  box-shadow: 0 0 0 3px $color-base-dark;

  &.rotate .slotsWrapper {
    transition: margin-top 0.04s linear;
    margin-top: $slot-size * 2;
  }
}

.slotsWrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slot {
  width: $slot-size;
}

.win {
  animation: scaling 1.5s infinite;
}

@keyframes scaling {
  0% {
    transform: scale(1);
    filter: none;
  }
  50% {
    transform: scale(1.2);
    filter: invert(20%);
  }
  100% {
    transform: scale(1);
    filter: none;
  }
}
