@import '@/styles/variables.scss';

.gameControls {
  bottom: 1em;
  padding: $spacing-base;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-small;
  font-weight: bold;

  input {
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50px;
    padding: $spacing-small;
  }

  button {
    background: #f2f2f2;
    border-radius: 4px;
    padding: 8px 5px 8px 5px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.infinity {
  font-size: $font-size-large;
}

@media screen and (max-width: $breakpoint-md) {
  .gameControls {
    flex-wrap: wrap;

    & > :nth-child(2) {
      order: -1;
      width: 100%;
    }

    & > :nth-child(4) {
      order: -1;
      width: 100%;
    }
  }
}
