@import '@/styles/variables.scss';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
}
