@import '@/styles/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: $color-gold;
  border-radius: $spacing-base;
  padding: $spacing-base;
  // border: none;
}

.logoWrapper {
  border-radius: $spacing-base;
  overflow: hidden;
  max-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonWrapper {
  position: absolute;
  top: 75%;
  left: 75%;
  transform: translate(-50%, -50%);
}
